---
import './navbar.css'
---

<div class="navbar">
	<div id="left">
		<a id="argon" href=".">
			<span id="title">Argon</span>
			<span id="version">v1.0</span>
		</a>
	</div>
	<div id="right">
		<div id="bookmarks-button" class="nav-button" onclick="">
			<img src="/icons/nav/bookmark.svg" alt="Bookmarks" class="nav-icon"/>
		</div>
	</div>
</div>