.changelog-content {
	/* Display */
	display: flex;
	flex-direction: row;
	gap: 64px;

	/* Layout */
	padding: 0 32px;
}

.changelogs {
	/* Display */
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.changelog-title {
	/* Text */
	text-align: center;
}