---
import { getSortedVersions } from "@argon/util/version"

import Page from "@argon/layouts/Page.astro"
import Navbar from "@argon/components/navbar/Navbar.astro"
import Version from "@argon/components/changelog/version.astro"
import VersionList from "@argon/components/changelog/version-list.astro"

import "@argon/pages/_changelog.css"
import "@argon/globals.css"

const changelogs = getSortedVersions()
---

<Page title="Upload post">
	<Navbar search={false}/>
	<div class="changelog-content">
		<div class="changelogs">				
			{ changelogs && changelogs.map((version) => {
				return <Version changelog={version}/>
			}) }
		</div>
		<VersionList/>
	</div>
</Page>