---
import Page from "@argon/layouts/Page.astro"
import Navbar from "@argon/components/navbar/Navbar.astro"
import Gallery from "@argon/components/gallery/Gallery.tsx"

import "@argon/globals.css"
---

<Page title="Argon">
	<Navbar search={true}/>
	<main>
		<Gallery client:load/>
	</main>
</Page>