body {
    /* Layout */
    overflow: hidden;
}

@media screen and (max-width: 1080px) {
    body {
        /* Layout */
        overflow: auto;
    }
}

.post {
    /* Layout */
    display: flex;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}

@media screen and (max-width: 1080px) {
    .post {
        /* Layout */
        flex-direction: column;
    }
}

.post #left {
    /* Layout */
    display: flex;
    width: 30%;
    height: 100%;
    max-height: 100vh;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    /* Style */
    background-color: var(--primary);
}

@media screen and (max-width: 1080px) {
    .post #left {
        /* Layout */
        width: 100%;
        height: auto;
    }
}

.post #right {
    /* Layout */
    display: flex;
    height: 100%;
    width: 100%;
    padding: 80px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
}

@media screen and (max-width: 1080px) {
    .post #right {
        /* Layout */
        padding: 20px;
        min-height: 60vh;
    }
}

.post-file {
    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 0;
    align-self: stretch;
}

.post-file .file-img {
    /* Layout */
    max-width: 90%;
    max-height: 90%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(0.95);
    /* Style */
    border-radius: 15px;
    transition: 0.25s;
}

.file-img:hover {
    transform: scale(1);
}

#left #content {
    /* Layout */
    width: 90%;
    padding: 0px 15px;
}

#post-data {
    /* Layout */
    display: flex;
    padding: 17.5px 0px;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    align-self: stretch;
    /* Style */
    font-family: var(--font);
}

#post-data #post-title {
    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    /* Style */
    font-size: 28px;
    font-weight: 700;
}

#post-data #post-info {
    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

#post-data #post-info .post-info-field {
    /* Layout */
    align-self: stretch;
    /* Style */
    font-size: 18px;
    font-weight: 600;
}

#post-data a {
    /* Style */
    color: var(--text);
}

#post-tags {
    /* Layout */
    display: flex;
    padding: 16px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    align-self: stretch;
    flex-wrap: wrap;
    /* Style */
    background-color: var(--secondary);
    border-radius: 25px;
}

.post-tag {
    /* Layout */
    display: flex;
    height: 35px;
    padding: 0px 17.5px;
    align-items: center;
    gap: 10px;
    user-select: none;
    /* Style */
    border-radius: 17.5px;
    background-color: var(--primary);
}

#post-actions {
    /* Layout */
    display: flex;
    padding: 12px 64px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    /* Style */
    border-radius: 100px;
    background-color: var(--accent);
}

.post-action {
    /* Layout */
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    /* Style */
    cursor: pointer;
}

.post-action img {
    /* Layout */
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    user-select: none;
    /* Style */
    transition: 0.25s;
}

.post-action:hover img {
    /* Layout */
    transform: scale(1.15);
}

.post-action:active img {
    /* Layout */
    transform: scale(1);
}