---
import Page from '../layouts/Page.astro'

import { getEntry, render } from 'astro:content'
import type { RenderResult } from 'astro:content'

const tagsBlurb = await getEntry('misc', 'tags')
const { Content } = tagsBlurb ? await render( tagsBlurb ) : {} as RenderResult

const tags: Tag[] | null = await get(Astro.request, `tags/list`, (res: Response) => res.json())

import Navbar from '@argon/components/navbar/Navbar.astro'

import '@argon/pages/_tags.css'
import '@argon/globals.css'
import { get } from '@argon/util/api'
import type { Tag } from '@argon/util/types'
---

<Page title="Tags">
	<Navbar isGallery={false}/>
	<div class="content">
		<div class="section center-title">
			{ Content && <Content/> }
		</div>
		{ tags && tags.map((tag: Tag) => {
			return (tag.name)
		}) }
	</div>
</Page>