.post-edit-area {
	/* Display */
	display: flex;
	flex-direction: column;
	overflow: hidden;

	/* Layout */
	width: 100%;
	height: 100%;
	padding-bottom: 32px;

	/* Alignment */
	align-items: center;

	/* Grid */
	gap: 2.5vh;
}

.post-edit-area .post-edit-content {
	/* Display */
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: scroll;

	/* Layout */
	width: 90%;
	height: 100%;
	padding: 0 15px;

	/* Alignment */
	justify-content: flex-start;
}

.post-edit-area .post-title {
	/* Display */
	display: flex;
	flex-direction: column;

	/* Alignment */
	align-items: center;
	align-self: stretch;
	justify-content: center;
}

.post-edit-fields {
	/* Display */
	display: flex;
	flex-direction: column;

	/* Layout */
	width: 100%;
	padding: 0;
	margin: 0;

	/* Alignment */
	justify-content: center;

	/* Typography */
	text-align: center;

	/* List */
	list-style: none;
}

.post-edit-field-name {
	/* Typography */
	font-size: 1.2em;
	font-weight: 700;
}

.input-field {
	/* Display */
	display: flex;
	flex-direction: row;

	/* Alignment */
	align-items: center;
	justify-content: center;

	/* Grid */
	gap: 8px;
}

.input-field .revert-change {
	/* Display */
	display: flex;

	/* Layout */
	width: 56px;
	height: 56px;
	padding: 12px;

	/* Alignment */
	align-items: center;
	justify-content: center;

	/* Transformations */
	transform: scale(0.8);
	transform: scale(0.9);

	/* Cursor */
	cursor: pointer;

	/* Color */
	color: white;
	background-color: transparent;

	/* Typography */
	font-family: var(--font);
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;

	/* Border */
	border: none;
	border-radius: 12px;
	outline: none;

	/* Animation */
	transition: 0.15s;
}

.input-field .revert-change:hover {
	/* Transformations */
	transform: scale(1);

	/* Color */
	background-color: var(--accent);
}

.input-field .revert-change:focus {
	/* Transformations */
	transform: scale(1);

	/* Color */
	background-color: var(--accent);

	/* Border */
	border: var(--text) solid 2px;
}

.input-field .revert-change:active {
	/* Transformations */
	transform: scale(0.9);
}

.post-edit-tags .search-bar .wrapper {
	/* Layout */
	position: relative !important;
}

.post-edit-tags .search-bar .search-input {
	/* Layout */
	width: 100%;
	max-height: 25vh;
}

.post-edit-tags .search-bar .clear-icon {
	/* Display */
	display: none;
}