node_modules
!node_modules/astro-navbar/src/Astronav.astro

package-lock.json
bun.lockb

.env

.next/
out/
build
.astro/
dist/

npm-debug.log*

*.zip
*.tar.gz
*.tgz
*.log
*.bun

server/assets

*.db
*.db-shm
*.db-wal