---
import type { Tag } from "@argon/util/types"

import TagChip from "@argon/components/tag/TagChip.tsx"

import '@argon/components/tag/tag-box.css'
import '@argon/globals.css'

interface Props {
	tags: Tag[]
	clickable?: boolean
}
const { tags, clickable = false } = Astro.props
---
<div class="tag-box">
	{ tags?.map( ( tag: Tag ) => {
		return (
			<TagChip
				tag={ tag }
				href={ clickable ? `/?q=${tag.name}_(${tag.type})` : '' }
				usages = { true }
				client:only
			/>
		)
	})}
</div>