.search-bar-container {
	/* Display */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap: 8px;

	/* Layout */
	width: 100%;
	height: 56px;
}

.search-bar {
	/* Display */
	display: flex;
	align-items: flex-start;
	justify-content: center;
	z-index: 1;

	/* Layout */
	width: 100%;
	height: 80%;
}

.search-bar .wrapper {
	/* Layout */
	width: 100%;
	height: fit-content;

	/* Color */
	color: var(--text) !important;
	background-color: var(--secondary) !important;

	/* Border */
	border: none !important;
	border-radius: 12px !important;

	/* Text */
	font-family: var(--font) !important;
}

.search-bar .wrapper:hover {
	/* Shadow */
	box-shadow: none !important;
}

.search-bar .wrapper > div {
	/* Layout */
	height: fit-content;
}

.search-bar .wrapper .search-input {
	/* Layout */
	resize: vertical;
	width: 100%;
	height: 100%;

	/* Color */
	color: var(--text) !important;
	background-color: transparent;

	/* Border */
	border: none;
	outline: none;

	/* Text */
	font-family: var(--font);
	font-weight: 500;
}

/* Results */
.search-bar .wrapper li {
	/* Style */
	cursor: pointer;

	/* Animation */
	transition: 0.15s;
}

.search-bar .search-results {
	/* Display */
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;

	/* Layout */
	width: 100%;
	padding: 12px 0;
	margin: 0;

	/* Color */
	background-color: var(--secondary);

	/* Border */
	border-radius: 12px;
}

.search-bar .search-result {
	/* Display */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	/* Layout */
	padding: 0px 16px;
	margin: 0;
}

.search-bar .search-result #left {
	/* Display */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 12px;

	/* Color */
	background-color: transparent;
}

/* Icons */
.search-bar .wrapper svg {
	/* Color */
	fill: var(--text) !important;
}

.search-bar .clear-icon {
	/* Display */
	display: flex;
	align-items: center;
	justify-content: center;

	/* Layout */
	margin: 0 12px;
}

.tag-icon {
	/* Display */
	overflow: hidden;

	/* Layout */
	width: 24px;
	height: 24px;
}