.tag-input-container {
	/* Display */
	display: flex;
	flex-direction: row;

	/* Layout */
	width: 100%;

	/* Grid */
	gap: 8px;
}

.tag-input {
	/* Layout */
	width: 100%;
}

.tag-input > div {
	/* Layout */
	width: 100%;
	height: 100%;
}

.search-bar {
	/* Layout */
	height: 100%;
}

.search-wrapper {
	/* Display */
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;

	/* Layout */
	height: 100%;
	padding: 8px !important;

	/* Alignment */
	align-items: center;

	/* Color */
	background-color: var(--secondary) !important;

	/* Grid */
	gap: 8px;

	/* Border */
	border: none !important;
	border-radius: 20px !important;
}

.search-bar.multiline .search-wrapper {
	overflow-x: hidden;
	overflow-y: scroll;
	flex-wrap: wrap;
}

.tag-input-container input {
	/* Layout */
	width: 160px;
	padding: 8px 12px;
	box-sizing: border-box;
	resize: vertical;

	/* Color */
	color: var(--text) !important;
	background-color: var(--disabled) !important;

	/* Typography */
	font-family: var(--font);
	font-size: 1em;
	font-weight: 500;

	/* Border */
	border: none;
	border-radius: 16px;
	outline: none;
}

/* Chip */
.search-wrapper .chip {
	/* Layout */
	padding: 8px 12px;
	margin: 0;

	/* Color */
	background-color: var(--primary);

	/* Typography */
	font-size: 1em;

	/* Border */
	border-radius: 16px;
}

.search-wrapper .chip .closeIcon {
	/* Layout */
	margin-left: 10px;
}

.search-bar .tag-chip {
	/* Display */
	display: flex;
	flex-direction: row;

	/* Alignment */
	align-items: center;
	justify-content: space-between;

	/* Grid */
	gap: 10px;
}

.search-bar .tag-chip .tag-icon {
	/* Layout */
	width: 18px;
	height: 18px;
}

/* Results */
.search-bar .optionListContainer {
	background: none !important;
}

.search-bar .optionContainer {
	/* Display */
	display: flex;
	flex-direction: column;
	z-index: 99;

	/* Layout */
	width: 100%;
	padding: 12px 0px;
	margin: 0;

	/* Alignment */
	justify-content: flex-start;

	/* Color */
	background-color: var(--secondary);

	/* Border */
	border: none !important;
	border-radius: 12px !important;
}

.search-bar .option {
	/* Layout */
	padding: 8px 12px;

	/* Cursor */
	cursor: pointer;
	user-select: none;

	/* Color */
	background-color: var(--secondary);

	/* Border */
	border-radius: 8px;

	/* Animation */
	transition: 0.15s;
}

.search-bar .option.highlight {
	/* Color */
	background-color: var(--primary);
}

.search-bar .search-result {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.search-bar .search-result #left {
	/* Display */
	display: flex;
	flex-direction: row;

	/* Alignment */
	align-items: center;
	justify-content: flex-start;

	/* Color */
	background-color: transparent;

	/* Grid */
	gap: 12px;
}

/* Icons */
.search-bar .wrapper svg {
	/* Color */
	fill: var(--text) !important;
}

.search-bar .clear-icon {
	/* Display */
	display: flex;

	/* Layout */
	margin: 0 12px;

	/* Alignment */
	align-items: center;
	justify-content: center;
}

.tag-icon {
	/* Display */
	overflow: hidden;

	/* Layout */
	width: 24px;
	height: 24px;
}