#settings-menu {
    /* Layout */
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 1%;
    z-index: 100;
    transform: translateY(20px);
    /* Style */
    background-color: var(--primary);
    border-radius: 10px;
}

#settings-menu.closed {
    display: none;
}

.settings-item {
    /* Layout */
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    user-select: none;
    cursor: pointer;
    /* Style */
    color: var(--text);
    font-family: var(--font);
    font-weight: 600;
    transition: 0.25s;
    border-radius: 10px;
}

.settings-item:hover {
    /* Style */
    background-color: var(--accent) !important;
}

.toggle-option .toggle {
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Style */
    width: 50px;
    height: 25px;
    border-radius: 20px;
    background-color: var(--secondary-dark);
    transition: 0.25s;
}

.toggle-option .toggle.active {
    background-color: var(--secondary);
}

.toggle-option .toggle .toggle-circle {
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Style */
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--accent);
    transition: 0.25s;
}

.toggle-option .toggle.active .toggle-circle {
    transform: translateX(25px);
    background-color: var(--accent-light);
}

.dropdown-control {
    /* Style */
    background-color: var(--primary) !important;
    border-radius: 10px !important;
    border: none !important;
    color: var(--text) !important;
}

.dropdown-arrow {
    /* Style */
    border-top-color: var(--text) !important;
}

.is-open .dropdown-arrow {
    /* Style */
    border-bottom-color: var(--text) !important;
}

.dropdown-menu {
    /* Style */
    background-color: var(--primary) !important;
    border-radius: 10px !important;
    border: none !important;
    color: var(--text) !important;
}

.dropdown-option {
    /* Style */
    color: var(--text) !important;
}

.dropdown-option:hover {
    /* Style */
    background-color: var(--accent) !important;
}

.dropdown-option[aria-selected="true"] {
    /* Style */
    background-color: var(--accent) !important;
}