.post-audio {
    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 35px 35px 0 35px;
    /* Style */
    background-color: var(--primary);
    border-radius: 15px;

}

.visuals {
    /* Layout */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    width: 100%;
    /* Style */
}

.audio-img {
    /* Style */
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
    background-color: var(--primary);
}

.post-visualizer {
    /* Layout */
    width: 75%;
}

.post-visualizer-time {
	/* Layout */
	padding: 4px 12px;

	/* Style */
	background-color: var(--accent);
	border-radius: 8px;
	font-weight: 600;
	transition: .25s;
}

.post-visualizer-time.paused {
	/* Style */
	background-color: #00000000;
}

.post-visualizer-controls {
    /* Layout */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    gap: 15px;
    width: 100%;
}

.post-visualizer-controls .volume-controls {
    /* Layout */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 25%;
}

.post-visualizer-controls .volume-controls #audio-volume {
    /* Layout */
    height: 12px;
    /* Style */
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--secondary);
    border-radius: 15px;
    transition: .25s;
}

.post-visualizer-controls .volume-controls #audio-volume::-webkit-slider-thumb {
    /* Style */
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--accent);
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: none;
    transition: .25s;
}

.post-visualizer-controls .volume-controls #audio-volume::-moz-range-thumb {
    /* Style */
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--accent);
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: none;
    transition: .25s;
}

.post-visualizer-controls .volume-controls #audio-volume::-webkit-slider-thumb:hover {
    /* Style */
    transform: scale(1.1);
    background-color: var(--accent-light);
}

.post-visualizer-controls .volume-controls #audio-volume::-moz-range-thumb:hover {
    /* Style */
    transform: scale(1.1);
    background-color: var(--accent-light);
}

.post-visualizer-controls .volume-controls #audio-volume.muted {
    /* Style */
    background-color: var(--disabled);
}

.post-visualizer-controls .volume-controls #audio-volume.muted::-webkit-slider-thumb {
    /* Style */
    background-color: var(--disabled);
}

.post-visualizer-controls .volume-controls #audio-volume.muted::-moz-range-thumb {
    /* Style */
    background-color: var(--disabled);
}

.post-visualizer-controls .track-controls {
    /* Layout */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 50%;
}

.post-visualizer-controls #spacer {
    /* Layout */
    width: 25%;
}

.post-visualizer-controls .audio-button {
    /* Layout */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    /* Style */
    border: none;
    background-color: #00000000;
    cursor: pointer;
    border-radius: 15px;
    transition: .25s;
}

.post-visualizer-controls .audio-button:hover {
    /* Style */
    transform: scale(1.1);
    background-color: var(--accent);
}

.post-visualizer-controls .audio-button:active {
    /* Style */
    transform: scale(0.9);
    background-color: var(--accent);
}

.audio-button#audio-back img {
    /* Style */
    transform: scaleX(-1);
}