.post-data {
	/* Layout */
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: stretch;
	gap: 25px;
	padding-top: 17.5px;
}

.post-data .post-title {
	/* Layout */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: stretch;

	/* Style */
	font-size: 28px;
	font-weight: 700;
}

.post-data .post-info {
    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.post-data .post-info .post-info-field {
    /* Layout */
    align-self: stretch;

    /* Style */
    font-size: 18px;
    font-weight: 600;
}

.post-data .post-info .post-info-field a {
	/* Style */
	color: var(--primary-color);
}