.post-tags {
	/* Layout */
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	align-self: stretch;
	gap: 10px;

	padding: 16px;

	/* Style */
	background-color: var(--secondary);
	border-radius: 25px;
}

.post-tag {
	/* Display */
	display: flex;
	align-items: center;
	gap: 10px;

	/* Layout */
	height: 35px;
	padding: 0px 17.5px;
	
	/* Style */
	cursor: pointer;
	user-select: none;

	/* Color */
	color: var(--text);
	background-color: var(--primary);

	/* Border */
	border-radius: 17.5px;

	/* Text */
	text-decoration: none;

	/* Animation */
	transform: scale(1);
	transition: 0.25s;
}

.post-tag:hover {
	/* Style */
	transform: scale(1.1);
	background-color: var(--accent);
}

.post-tag-icon {
	/* Display */
	overflow: hidden;

	/* Layout */
	width: 24px;
	height: 24px;
}