.modal-overlay {
    /* Layout */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Style */
    background-color: #00000075;
}

.modal {
    /* Layout */
    display: flex;
    position: absolute;
    width: 85%;
    height: 85%;
    /* Style */
    background-color: var(--primary);
    border-radius: 35px;
    outline: none;
}

.side {
    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 50%;
    max-height: 100%;
    padding: 30px;
}

.modal #left {
    /* Style */
    border-right: 1px dashed var(--accent);
}

#title {
    /* Style */
    font-size: 1.5rem;
    font-weight: 700;
}

/* Edit Modal */
#inputs {
    /* Layout */
    width: 100%;
    height: 100%;
}

#edit-post-info {
    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    height: 100%;
}

.edit-modal-section {
    /* Layout */
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.edit-modal-title {
    /* Style */
    font-size: 1.25rem;
    font-weight: 600;
    display: block;
}

#timestamp {
    /* Layout */
    height: 45px;
    /* Style */
    border-radius: 20px;
    background-color: var(--secondary);
    outline: none;
    border: none;
    padding: 0px 20px;
    color: var(--text);
    font-family: var(--font);
    font-size: larger;
    font-weight: 600;
}

#source {
    /* Layout */
    width: 90%;
    height: 45px;
    /* Style */
    border-radius: 20px;
    background-color: var(--secondary);
    outline: none;
    border: none;
    padding: 0px 20px;
    color: var(--text);
    font-family: var(--font);
    font-size: larger;
    font-weight: 600;
}

#tags-container {
    /* Layout */
    height: 100%;
}

#tags {
    /* Layout */
    width: 100%;
    height: 100%;
    display: block;
}

.visually-hidden {
    display: none;
}

.modal #left .awesomplete {
    /* Layout */
    display: flex;
    justify-content: center;
    height: 50%;
    font-weight: 500;
}

.awesomplete textarea {
    /* Layout */
    display: block;
    width: 90%;
    height: 100%;
    resize: none;
    /* Style */
    border-radius: 20px;
    background-color: var(--secondary);
    outline: none;
    border: none;
    padding: 10px;
    color: var(--text);
    font-family: var(--font);
    font-size: medium;
    font-weight: 600;
}

#tags ul {
    /* Layout */
    position: absolute;
    z-index: 100;
    padding-left: 0;
    padding: 10px 0px;
    border-radius: 10px;
    /* Style */
    background-color: var(--secondary);
    transform: translate(0, -107%);
}

.suggestion {
    /* Layout */
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding: 3px 20px;
}

.suggestion[aria-selected="true"] {
    /* Style */
    background-color: var(--primary);
}

.tag-name {
    /* Layout */
    display: flex;
    align-items: center;
    gap: 10px;
}

.modal #right {
    /* Layout */
    justify-content: space-between;
    /* Style */
    border-left: 1px dashed var(--accent);
}

#file-preview {
    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85%;
}

#file-preview .file {
    /* Layout */
    max-width: 100%;
    max-height: 90%;
    /* Style */
    border-radius: 35px;
}

#file-info {
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#file-info ul { padding: 0 }
#file-info ul li { list-style: none; display: inline; }
#file-info ul li::before { content: " ㅤ "; }
#file-info ul li:after { content: " ㅤ • "; }
#file-info ul li:first-child::before { content: none; }
#file-info ul li:last-child:after { content: none; }

#buttons {
    /* Layout */
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
}

#buttons .modal-button {
    /* Layout */
    width: 42px;
    height: 42px;
    /* Style */
    cursor: pointer;
    transition: 0.25s;
}

.modal-button#close {
    /* Style */
    rotate: 45deg;
    scale: 1.15;
}

#buttons .modal-button:hover {
    /* Style */
    transform: scale(1.1);
}

#buttons .modal-button:active {
    /* Style */
    transform: scale(0.9);
}

.img-preview {
    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 300px;
    max-width: 50%;
    max-height: 50%;
    overflow: hidden;
    /* Style */
    border-width: 2px;
    border-color: var(--secondary);
    border-radius: 32px;
    transition: 0.5s;
}

/* Upload modal */
.img-preview.empty {
    /* Style */
    border-style: dashed;
}

.img-preview.selected {
    /* Style */
    border-style: hidden;
}

.img-preview #preview {
    /* Layout */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    flex: 0 0 100%;
    /* Style */
    border-radius: 16px;
}

.img-preview.audio {
    /* Layout */
    max-height: 40px;
}

.button-bros {
    /* Layout */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 85%;
    height: 20%;
}

.file-button {
    /* Layout */
    padding: 10px 20px;
    /* Style */
    background-color: var(--accent);
    outline: none;
    border: none;
    border-radius: 10px;
    color: var(--text);
    font-family: var(--font);
    font-weight: 600;
    font-size: large;
    cursor: pointer;
    transition: 0.25s;
}

.file-button:hover {
    /* Style */
    transform: scale(1.1);
}

.file-button:active {
    /* Style */
    transform: scale(0.9);
}

.label {
    /* Layout */
    display: block;
    /* Style */
    font-weight: 700;
    font-size: 1.35rem;
}

#file-url-container {
    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#upload-modal #right {
    /* Layout */
    gap: 25px;
}

.modal-text-input {
    /* Layout */
    width: 100%;
    /* Style */
    border-radius: 20px;
    background-color: var(--secondary);
    outline: none;
    border: none;
    padding: 5px 20px;
    color: var(--text);
    font-family: var(--font);
    font-size: medium;
    font-weight: 600;
}

.file-upload-section {
    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.cover-upload {
    /* Layout */
    height: 60%;
}

.hidden {
    /* Layout */
    display: none !important;
}

#layered-file {
    /* Layout */
    height: 60%;
    gap: 10px;
}

#post-input-data {
    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.small-button {
    /* Layout */
    padding: 7px 16px;
    /* Style */
    background-color: var(--accent);
    outline: none;
    border: none;
    border-radius: 10px;
    color: var(--text);
    font-family: var(--font);
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    transition: 0.25s;
}

.small-button:hover {
    /* Style */
    transform: scale(1.1);
}

.small-button:active {
    /* Style */
    transform: scale(0.9);
}

#post-timestamp {
    /* Layout */
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 15px;
}

.post-data-elem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
}

#timestamp-input {
    flex: 0 0 30px;
}

.preview-file {
    /* Layout */
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    /* Style */
    border-radius: 15px;
}