---
import "@argon/components/button/nav-button.css"
import '@argon/globals.css'

interface Props {
	id: string
	href: string
	icon: string
	alt: string
}
const { id, href, icon, alt } = Astro.props
---

<li class="nav-button-container">
	<a href={ href } id={ id } class="button nav-button focusable">
		<img class="button-icon" src={ icon } alt={ alt } />
		<slot></slot>
	</a>
</li>