---
import type { Post } from "@argon/util/types"

import "@argon/components/navbar/navbar.css"
import "@argon/components/navbar/post/post-nav.css"
import "@argon/components/button/nav-button.css"

interface Props {
	post: Post
}
const { post } = Astro.props
---

<div class="post-nav">
	<ul class="nav-buttons">
		<!-- Home -->
		<li class="nav-button-container">
			<a href="../../" id="home-button" class="button nav-button focusable">
				<img class="button-icon" src="/icons/nav/home.svg" alt="Home" />
			</a>
		</li>
	
		<!-- Bookmark -->
		<a href="#" id="bookmark-button" class="button nav-button focusable">
			<img class="button-icon" src="/icons/nav/bookmark.svg" alt="Bookmark" />
		</a>
	
		<!-- Report -->
		<a href=`/post/${post.id}/report` id="report-button" class="button nav-button focusable">
			<img class="button-icon" src="/icons/nav/report.svg" alt="Report" />
		</a>
		
		<!-- Edit -->
		<a href=`/post/${post.id}/edit` id="edit-button" class="button nav-button focusable">
			<img class="button-icon" src="/icons/nav/edit.svg" alt="Edit" />
		</a>
	</ul>
</div>