
.post-nav {
	/* Layout */
	display: flex;
	align-items: center;
	align-self: stretch;
	gap: 25px;
	padding: 10px 25px;
	
	/* Style */
	background-color: var(--primary);
}

.post-nav .nav-buttons {
	justify-content: flex-start;
}