.gallery {
	/* Display */
	display: flex;
	flex: 1 1 auto;
	flex-wrap: wrap;
	overflow: visible;

	/* Layout */
	height: auto;
	min-height: 0;
	margin: 20px 0;

	/* Alignment */
	align-self: stretch;
	justify-content: space-evenly;

	/* Grid */
	gap: 1vmax;

	/* Border */
	border-radius: 15px;
}