:root {
    --text: #EDE3EF;
    --text-disabled:rgb(193, 182, 196);
    --background: #170D19;
    --primary: #BC32B4;
    --secondary: #881A81;
    --secondary-light: #a6269d;
    --accent: #DD56D5;
	--accent-light: #fb73f2;
    --disabled: #4d194e;
    --font: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font);
    background-color: var(--background);
    color: var(--text);
    overflow-x: hidden;
    height: 100vh;
}

#root {
    height: 100%;
}

.hidden {
	display: none;
}