:root {
	--text: #EDE3EF;
	--text-disabled:rgb(193, 182, 196);
	--background: #170D19;
	--primary: #BC32B4;
	--secondary: #881A81;
	--secondary-light: #a6269d;
	--accent: #DD56D5;
	--accent-light: #fb73f2;
	--disabled: #4d194e;
	--font: 'Poppins', sans-serif;
}

body {
	/* Display */
	overflow-x: hidden;

	/* Layout */
	height: 100vh;
	padding: 0;
	margin: 0;

	/* Color */
	color: var(--text);
	background-color: var(--background);

	/* Typography */
	font-family: var(--font);

	transform-style: preserve-3d;
}

#root { height: 100%; }

.hidden { display: none; }

.center {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}

.focusable:focus {
	/* Color */
	background-color: var(--accent) !important;

	/* Border */
	border: var(--text) solid 2px !important;

	/* Animation */
	transform: scale(1);
}

.accent.focusable:focus {
	background-color: var(--accent-light) !important;
}

/* Button */
.button {
	/* Display */
	display: flex;

	/* Layout */
	min-width: 56px;
	height: 56px;

	/* Alignment */
	align-items: center;
	justify-content: center;

	/* Transformations */
	transform: scale(0.9);

	/* Cursor */
	cursor: pointer;

	/* Color */
	color: white !important;
	background-color: transparent;

	/* Typography */
	font-family: var(--font);
	font-size: 22px;
	font-weight: 600;
	text-decoration: none;

	/* Grid */
	gap: 16px;

	/* Border */
	border: transparent solid 2px !important;
	border-radius: 16px !important;
	outline: none;

	/* Animation */
	transition: 0.15s;
}
.button.accent {
	/* Color */
	background-color: var(--accent);
}

.button-icon {
	/* Layout */
	width: 42px;
	height: 42px;

	/* Cursor */
	user-select: none;
}

.button-label {
	/* Layout */
	margin: 0;
}

.button:hover {
	/* Color */
	background-color: var(--accent);
	
	/* Animation */
	transform: scale(1);
}
.button.accent:hover {
	/* Color */
	background-color: var(--accent-light);
}

.button:active {
	/* Animation */
	transform: scale(0.9);
}

.button.accent.focusable:focus {
	/* Color */
	background-color: var(--accent-light);
}

.button.text {
	/* Layout */
	height: fit-content;
	padding: 8px 12px;
	justify-content: flex-start;
}

.button.text .button-icon {
	width: 36px;
	height: 36px;
}

/* Section */
.section {
	/* Display */
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;

	/* Layout */
	max-width: 70vw;
	padding: 16px 32px;

	/* Color */
	background-color: var(--primary);

	/* Border */
	border-radius: 16px;
}

.section h1 {
	/* Layout */
	margin: 16px 0 8px 0;
}

.section h2 {
	/* Layout */
	margin: 12px 0 6px 0;
}

.section h3 {
	/* Layout */
	margin: 8px 0 4px 0;
}

.section.center-title h1 {
	/* Text */
	text-align: center;
}

.section p {
	/* Layout */
	margin: 6px 0;
}

.section ul {
	/* Layout */
	margin: 0;
}

.section code {
	/* Layout */
	padding: 3px 6px;

	/* Color */
	background-color: var(--secondary);

	/* Border */
	border-radius: 6px;
}

.section a {
	/* Color */
	color: var(--white);

	/* Typography */
	font-weight: bold;
	text-decoration: none;
}
.section a:hover {
	/* Typography */
	text-decoration: underline;
}