.option {
	/* Display */
	display: flex;
	flex-direction: column;

	/* Layout */
	max-width: 100%;
	padding: 2px 8px;

	/* Alignment */
	align-items: start;

	/* Cursor */
	cursor: pointer;
	user-select: none;

	/* Color */
	color: var(--text);
	background-color: var(--primary);

	/* Typography */
	font-family: var(--font);

	/* Border */
	border: transparent solid 2px;
	border-radius: 12px;

	/* Animation */
	transition: 0.15s;
}

.option:hover {
	/* Color */
	background-color: var(--accent);
}

.option:focus {
	/* Color */
	background-color: var(--accent);

	/* Border */
	border: var(--text) solid 2px;
	outline: none;
}

.option-content {
	/* Display */
	display: flex;
	flex-direction: row;

	/* Layout */
	width: 100%;

	/* Alignment */
	align-items: center;
	justify-content: space-between;

	/* Grid */
	gap: 16px;
}

.option-label {
	/* Layout */
	margin: 0;
}

.option-icon {
	/* Layout */
	width: 30px;
	height: 30px;
}

.option-description {
	/* Display */
	display: flex;

	/* Layout */
	margin: 0;

	/* Alignment */
	align-items: center;
	justify-content: start;

	/* Typography */
	font-size: 1rem;
	text-align: start;
	white-space: pre-line;
}

.astronav-dropdown {
	/* Layout */
	margin: 0;
}