.option {
	/* Display */
	display: flex;
	flex-direction: column;
	align-items: start;

	/* Layout */
	padding: 2px 8px;
	max-width: 100%;

	/* Style */
	cursor: pointer;
	user-select: none;

	/* Color */
	color: var(--text);
	background-color: var(--primary);

	/* Border */
	border-radius: 12px;
	border: transparent solid 2px;

	/* Text */
	font-family: var(--font);
	font-weight: 700;
	font-size: 1.05rem;

	/* Animation */
	transition: 0.15s;
}

.option:hover {
	/* Color */
	background-color: var(--accent);
}

.option:focus {
	/* Color */
	background-color: var(--accent);

	/* Border */
	outline: none;
	border: var(--text) solid 2px;
}

.option-content {
	/* Display */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 16px;

	/* Layout */
	width: 100%;
}

.option-icon {
	/* Layout */
	width: 30px;
	height: 30px;
}

.option-description {
	/* Display */
	display: flex;
	justify-content: start;
	align-items: center;

	/* Text */
	font-size: 0.725rem;
	font-weight: 600;
	white-space: pre-line;
}

.astronav-dropdown {
	/* Layout */
	margin: 0;
}