.toggle {
	/* Cursor */
	cursor: pointer;
}

.toggle input {
	/* Display */
	display: none;
}

.toggle .switch {
	/* Display */
	display: flex;
	flex-direction: row;

	/* Alignment */
	align-items: center;
	justify-self: flex-end;
}

/* Track */
.toggle .toggle-track {
	/* Display */
	display: flex;
	flex-direction: row;

	/* Layout */
	width: 36px;
	height: 16px;

	/* Alignment */
	align-items: center;
	justify-content: center;

	/* Color */
	background-color: var(--secondary);

	/* Border */
	border-radius: 8px;

	/* Animation */
	transition: 0.2s;
}

/* Thumb */
.toggle .toggle-thumb {
	/* Layout */
	width: 20px;
	height: 20px;

	/* Transformations */
	transform: translateX(-50%);

	/* Color */
	background-color: var(--accent);

	/* Border */
	border-radius: 50%;

	/* Animation */
	transition: 0.2s}

/* Checked */
.toggle .option-content > input:checked + .toggle-track .toggle-thumb {
	/* Transformations */
	transform: translateX(50%);
}

/* Hover */

.option:hover.toggle .toggle-thumb {
	/* Color */
	background-color: var(--accent-light);
}

.option:focus.toggle .toggle-thumb {
	/* Color */
	background-color: var(--accent-light);
}