.nav-button-container {
	/* Display */
	display: flex;

	/* Layout */
	margin: 0;
}

.search-button-container {
	/* Layout */
	width: 65%;
}

.nav-button {
	/* Layout */
	min-width: 56px;
	height: 56px;

	/* Color */
	background-color: transparent;

	/* Animation */
	transform: scale(0.85);
}

.more-dropdown .nav-dropdown-items-container .nav-button {
	/* Display */
	justify-content: flex-start;

	/* Layout */
	width: 100%;
}

/* Dropdown */

.astronav-dropdown {
	/* Display */
	z-index: 99;

	/* Layout */
	padding: 0;

	/* Style */
	list-style: none;
}

.nav-button-container .nav-dropdown-items-container {
	/* Display */
	position: absolute;

	/* Layout */
	padding: 16px;
	margin-top: 26px;

	/* Style */
	border-radius: 32px;

	/* Color */
	background-color: var(--primary);
}

.nav-dropdown-items-container ul {
	/* Display */
	display: flex;
	flex-direction: column;
	gap: 4px;

	/* Layout */
	padding: 0;

	/* Style */
	list-style: none;
}

.settings-dropdown .nav-dropdown-items-container {
	/* Layout */
	right: 16px;
}

.more-dropdown .nav-dropdown-items-container {
	/* Layout */
	padding: 12px;
}

.more-dropdown .nav-dropdown-items-container {
	/* Layout */
	left: 16px;
}