.navbar {
	/* Display */
	display: flex;

	/* Layout */
	max-width: 100vw;
	min-width: 250px;
	padding: 10px 15px;

	/* Alignment */
	align-items: center;
	justify-content: space-between;

	/* Color */
	background-color: var(--primary);

	/* Grid */
	gap: 16px;
}

/* Nav Info */
.navbar #nav-info {
	/* Display */
	display: flex;
	flex-direction: row;

	/* Layout */
	padding: 0;
	margin: 0;

	/* Alignment */
	align-items: center;
	justify-content: space-between;

	/* Grid */
	gap: 8px;

	/* List */
	list-style: none;
}

.navbar .logo {
	/* Display */
	display: flex;

	/* Layout */
	height: 100%;

	/* Alignment */
	align-items: baseline;
	justify-content: center;

	/* Cursor */
	user-select: none;

	/* Color */
	color: var(--white);

	/* Typography */
	font-family: var(--font);
	font-weight: 800;
	text-decoration: none;

	/* Grid */
	gap: 5px;
}

.navbar .logo #logo-mark {
	/* Layout */
	width: auto;
	height: 36px;
}

.navbar .logo #text-mark {
	/* Layout */
	width: auto;

	/* Typography */
	font-size: 2rem;
}

.navbar .logo #website-version {
	/* Layout */
	margin-left: 6px;

	/* Typography */
	font-size: 0.85rem;
	font-weight: 700;
	text-wrap: nowrap;
}

/* Nav Buttons */
.navbar .nav-message {
	/* Layout */
	margin-left: 12px;

	/* Cursor */
	user-select: none;

	/* Typography */
	font-size: 1.25rem;
	font-weight: bold;
	white-space: nowrap;
}

.navbar .nav-items {
	/* Display */
	flex-grow: 1;
	flex-shrink: 1;
}

.nav-buttons {
	/* Display */
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex-shrink: 1;

	/* Layout */
	padding: 0;
	margin: 0;

	/* Alignment */
	align-items: center;
	justify-content: flex-end;

	/* Grid */
	gap: 6px;

	/* List */
	list-style: none;
}

/* Search Bar */
.tag-input-container .autocomplete {
	/* Layout */
	height: 75%;
	position: relative;

	/* Alignment */
	align-self: center;
}

.tag-input-container .autocomplete .autocomplete-results {
	/* Layout */
	width: 100%;
	position: absolute;
	top: 60px;
}

/* Responsiveness */

/* Large width */
@media (width <= 1035px) {
	.navbar .logo #website-version {
		/* Display */
		display: none;
	}
}
@media (width >= 915px) {
	.navbar #nav-toggle {
		/* Display */
		display: none;
	}

	.navbar .nav-items {
		/* Display */
		display: flex;
	}	
}

@media (width < 915px) {
	.navbar {
		/* Display */
		flex-direction: column;
	}

	.navbar .nav-items {
		/* Display */
		display: flex;
		flex-direction: column;

		/* Layout */
		width: 100%;
	}

	.navbar .nav-items.hidden {
		/* Display */
		display: none;
	}

	.navbar .nav-buttons {
		/* Display */
		flex-direction: column;
	}

	.navbar .nav-button {
		/* Layout */
		margin-bottom: 12px;
	}
}

@media (width < 485px) {
	.navbar {
		/* Layout */
		min-width: 100px;
	}

	.navbar .logo #text-mark {
		/* Display */
		display: none;
	}
}

@media (width < 275px) {
	.navbar {
		/* Layout */
		min-width: 100px;
	}

	.navbar .logo #text-mark {
		/* Display */
		display: none;
	}
}