---
import { getLatestVersion, isAlpha } from "@argon/util/version"

import { Astronav, MenuItems, Dropdown, DropdownItems, StickyHeader } from "astro-navbar"

import NavToggle from "@argon/components/navbar/NavToggle.astro"
import OptionsMenu from "@argon/components/navbar/options/OptionsMenu.tsx"
import Tags from "@argon/components/tag/TagInput"
import DropdownButton from "@argon/components/button/DropdownButton.astro"

import "@argon/components/navbar/navbar.css"	
import "@argon/components/navbar/nav-button.css"
import "@argon/globals.css"

interface Props {
	search?: boolean
	message?: string
}
const { search = true, message } = Astro.props

const version = getLatestVersion()
const alpha: boolean = isAlpha()
---

<StickyHeader transition:persist>
	<Astronav>
		<div class="navbar">
			<ul id="nav-info">

				{ /* More buttons dropdown */ }
				<li class="nav-button-container">
					<Dropdown class="group more-dropdown">
						<button id="more-button" class="nav-button button">
							<img src="/icons/nav/hamburger.svg" alt="More" class="button-icon"/>
						</button>
						<DropdownItems class="dont-close nav-dropdown-items-container pop-up">
							<ul>
								{ /* Tags page */ }
								<DropdownButton
									id="tags-button"
									label="Tags" icon="/icons/nav/tag.svg"
									alt="Tags" href="tags"
								/>
								{ /* Random post */ }
								<DropdownButton
									id="random-button"
									label="Random Post" icon="/icons/nav/random.svg"
									alt="Random Post" href="random"
								/>
								{ /* Changelog page */ }
								<DropdownButton
									id="changelog-button"
									label="Changelog" icon="/icons/nav/changelog.svg"
									alt="Changelog" href="changelog"
								/>
							</ul>
						</DropdownItems>
					</Dropdown>
				</li>

				{ /* Argon logo */ }
				<li>
					<a class="logo" href="." tabindex="-1">
						<span id="text-mark">Argon</span>
						<span id="website-version">v{ version?.data?.version }{ alpha && '-alpha' }</span>
					</a>
				</li>
				<li>
					{ /* Message */ }
					{ message && <span class="nav-message">{ message }</span> }
				</li>
				<li>
					<NavToggle class="nav-items-toggle"/>
				</li>
			</ul>
			<MenuItems class="nav-items hidden">
				<ul class="nav-buttons">
					{ /* Search bar */ }
					{ search &&
						<li class="nav-button-container search-button-container">
							<Tags
								search={true}
								multiline={false}
								client:only="react"
							/>
						</li>
					}

					{ /* Upload */ }
					<li class="nav-button-container">
						<a id="upload-button" class="nav-button button focusable" href="upload">
							<img src="/icons/nav/upload.svg" alt="Upload" class="button-icon"/>
						</a>
					</li>

					{ /* Bookmarks */ }
					<li class="nav-button-container">
						<button id="bookmarks-button" class="nav-button button focusable" onclick="">
							<img src="/icons/nav/bookmark.svg" alt="Bookmarks" class="button-icon"/>
						</button>
					</li>

					{ /* Settings dropdown */ }
					<li class="nav-button-container">
						<Dropdown class="group settings-dropdown">
							<button id="settings-button" class="focusable nav-button button">
								<img src="/icons/nav/settings.svg" alt="Settings" class="button-icon"/>
							</button>
							<DropdownItems class="dont-close nav-dropdown-items-container pop-up">
								<OptionsMenu client:load/>
							</DropdownItems>
						</Dropdown>
					</li>
				</ul>
			</MenuItems>
		</div>
	</Astronav>
</StickyHeader>