---
import type { Post } from "@argon/util/types"

import Page from "@argon/layouts/Page.astro"
import PostFile from "@argon/components/post/file/PostFile.tsx"

import PostNav from "@argon/components/navbar/post/PostNav.astro"

import "@argon/pages/post/_post.css"
import "@argon/globals.css"

interface Props {
	post: Post
}
const { post } = Astro.props
---

<Page title={post?.file?.title ?? "Argon"}>
	<div class="post">
		<div id="left">
			{ post && <PostNav post={ post }/> }
			
			<slot></slot>
		</div>
		<div id="right">
			{ post && <PostFile post={ post } client:only="react" /> }
		</div>
	</div>
</Page>