.changelog-version-list {
	/* Layout */
	height: fit-content;
	position: sticky;
	top: 32px;
}

.versions {
	/* Style */
	list-style-type: none;

	/* Layout */
	padding: 0;
	margin: 0;
}

.versions a {
	/* Color */
	color: var(--text);

	/* Text */
	text-decoration: underline;
	font-weight: 600;
	font-size: 18px;
}