---
import type { CollectionEntry } from 'astro:content'
import moment from 'moment'

interface Props {
	changelog: CollectionEntry<'changelogs'>
}
const { changelog } = Astro.props
const { Content } = await changelog.render()

import '@argon/globals.css'
---

<div class="section" id={changelog.data.version}>
	<h1 class="version-title">
		{ changelog.data.version } - {moment(changelog.data.released).format('M/DD/YYYY')}
	</h1>
	<Content/>
</div>