.changelog-version-list {
	/* Layout */
	height: fit-content;
	position: sticky;
	top: 32px;
}

.versions {
	/* Layout */
	padding: 0;
	margin: 0;

	/* Miscellaneous */
	list-style-type: none;
}

.versions a {
	/* Color */
	color: var(--text);

	/* Typography */
	font-size: 18px;
	font-weight: 600;
	text-decoration: underline;
}

.version {
	/* Display */
	display: flex;

	/* Alignment */
	justify-content: space-between;

	/* Grid */
	gap: 8px;
}