---
import { formatTime } from "./version.astro"
import { getSortedVersions } from "@argon/util/version"

import "@argon/components/changelog/version-list.css"
import "@argon/globals.css"

const changelogs = getSortedVersions()
---

<div class="section changelog-version-list">
	{ changelogs && changelogs.map((version) => {
		return <ul class="versions">
			<li class="version">
				<a href={ `#${version.data.version}` }>v{ version.data.version }</a>
				<span>-</span>
				<span class="version-released">{ formatTime( version.data.released ) }</span>
			</li>
		</ul>
	}) }
</div>